# Node dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native build artifacts
android/.gradle/
android/.cxx/
android/build/
android/app/build/
android/local.properties
android/app/debug.keystore

ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcworkspace
ios/.xcode.env.local

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Environment files
.env*
*.pem
*.p8
*.p12
*.key
*.mobileprovision

# TypeScript
*.tsbuildinfo

# Misc
*.orig.*
*.jks
app-example

ios/
android/
.idea/
*.iml